/* index.css */

/* Reset some default browser styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global font styling */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
  }
  
  /* Links styling */
  a {
    color: #838485;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  